name: gitleaks

on:
  pull_request: {}
  push:
    branches:
    - main
    - master
  workflow_dispatch:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: security-gitleaks-config
      run: |
        wget https://github.com/alangonzalez/gitleaks-global-config/blob/main/security/global_config.toml && wget https://github.com/alangonzalez/gitleaks-global-config/blob/main/security/gitleaks_config_generator.py 
    - run: |
        ls -ltr * && python3 gitleaks_config_generator.py && ls -ltr *
    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@master
      with:
        config-path: global_config.toml
